* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  position: relative;
}

.background {
  position: absolute;
  top: -10vh;
  right: 0;
  z-index: -1;
  width: 50vw;
  height: 150vh;
}

header {
  nav {
    width: 95%;
    ul {
      padding: 2rem;
      width: 70%;
      display: flex;
      list-style-type: none;
      justify-content: space-around;
      li {
        font-size: 1.5rem;
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}

main {
  display: flex;
  flex-wrap: wrap;

  section.left {
    flex: 3 1 500px;
    padding: 0rem 3rem 2rem 2rem;

    h1 {
      font-size: 4rem;
      color: #83c763;
    }
    P {
      padding: 1rem 0rem;
      font-size: 1.5rem;
    }
  }

  section.right {
    flex: 1 1 600px;
    position: relative;
    img {
      border-radius: 50%;
      width: 20vw;
      height: 20vw;
      position: absolute;
      top: 50vh;
      right: 25vw;
      transform: translateY(-50%);
    }
  }

  section.table {
    flex: 3 1 500px;
    padding: 2rem;
    table {
      border-collapse: collapse;
      tr {
        border-bottom: 2px solid gray;
        transition: all 0.2s ease;
        td {
          padding: 1rem;
          img {
            width: 7%;
            height: 7%;
          }
          ol {
            margin-left: 1rem;
          }
        }
        &:hover {
          background-color: rgb(213, 243, 205);
        }
      }
    }
  }

  section.pic {
    flex: 1 1 600px;
    position: relative;
    img {
      width: 30vw;
    }
    div.green {
      width: 30vw;
      height: 80vh;
      background-color: #83c763;
      position: absolute;
      top: 30px;
      left: 80px;
      z-index: -1;
    }
  }

  section.form {
    flex: 1 1 600px;
    form {
      min-height: 70vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      div {
        margin: 0.5rem;
        label {
          font-size: 1.5rem;
          margin-right: 1rem;
        }
        input,
        textarea {
          background-color: #83c763;
          color: white;
          font-size: 1.25rem;
          padding: 0.25rem 0.25rem;
          border: none;
          width: 80%;
        }
        textarea {
          vertical-align: top;
        }
      }
    }
  }

  section.contact {
    flex: 1 1 500px;
  }
}

footer {
  padding-left: 5rem;
  a {
    padding: 1rem;
  }
}

.active {
  color: #83c763;
}

@media screen and (max-width: 1100px) {
  .background {
    opacity: 0.3;
  }

  header {
    nav {
      ul {
        width: 100%;
        flex-direction: column;
        li {
          padding: 1rem 0rem;
          border-bottom: 2px solid gray;
        }
      }
    }
  }

  main {
    section.right {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        position: static;
        transform: none;
        width: 50vw;
        height: 50vw;
        margin: 1rem;
      }
    }

    section.pic {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;
      img {
        width: 50vw;
      }
      div.green {
        display: none;
      }
    }
  }
  footer {
    display: flex;
    justify-content: center;
    padding-left: 0rem;
  }
}
